/* CSS pour mult3.php */

body {
	background-color: #343752;
	color: white;
	font-family: Calibri, Arial, sans-serif;
	width:80%;
	margin: auto;
	text-align: center;
}

section	{
	border: 1px solid white;
	border-radius: 5px;
	padding: 10px;
	margin: 10px;
}

table, tr, th, td {
	border-collapse: collapse;
	border: 1px solid white;
	padding: 5px;
	margin: auto;
}