body {
  color : white;
  background-image:linear-gradient(DodgerBlue , black);
}

h1 {
  text-shadow:3px 3px 10px DarkSlateBlue, 0px -5px 4px Indigo, 2px -10px 6px #FFDD33, -2px -15px 11px #FF8800, 2px -25px 18px #FF2200;
}
